name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2
    - name: Install nyx dependencies
      run: sudo apt update && sudo apt install -y libgtk-3-dev pax-utils python3-msgpack python3-jinja2 libcapstone-dev
    - name: Install taplo
      run: curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
    - name: Run taplo
      run: taplo format --check
    - name: Check formatting for all crates
      run: cargo fmt --all --check
    - name: Install cargo hack
      run: cargo install cargo-hack
    - name: Run test for all features
      run: cargo hack test --workspace --each-feature
