name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: [self-hosted]
    strategy:
      matrix:
        include:
           # Enable this once we have more self-hosted runners
           # - name: aflpp
           #   context: .
           #   file: ./Dockerfile
           #   scenario-name: http-server
           #   tag: fuzzamoto:ci
           #   justfile-name: scenario-http-server.justfile
           - name: libafl
             context: .
             file: ./Dockerfile.libafl
             scenario-name: ir
             tag: fuzzamoto-libafl:ci
             justfile-name: libafl.justfile

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image - ${{ matrix.name }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.file }}
          push: false # build only - don't push to registry
          load: true
          tags: ${{ matrix.tag }}
          platforms: linux/amd64
      - name: Run checks
        run: |
          rm -rf /output && mkdir /output
          docker run --privileged -v ./:/fuzzamoto -v /corpus:/tmp/out ${{ matrix.tag }} just -f /ci/${{ matrix.justfile-name }} test
      - name: Build coverage image
        run: |
          docker build -t fuzzamoto-coverage -f Dockerfile.coverage .
      - name: Run coverage
        run: |
          docker run --privileged -v /output:/mnt/output -v /corpus/cpu_000/queue:/mnt/corpus fuzzamoto-coverage /fuzzamoto/target/release/scenario-${{ matrix.scenario-name }} 
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-artifact-${{ matrix.name }}
          path: /output
          retention-days: 1